#Thu Aug 18 15:16:48 GMT 2022
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_SERVER=10.138.0.125
LIVE_INVOCATION_PORT=3500
WSSERVER=10.138.15.204
WSPORT=8082
lisa.baseline.xmldiff.config=<xmlDiffOptions>  <ignoreNamespaces>false</ignoreNamespaces>  <ignoreNamespacePrefixes>true</ignoreNamespacePrefixes>  <caseSensitive>true</caseSensitive>  <trimWhitespace>true</trimWhitespace>  <normalizeWhitespace>false</normalizeWhitespace>  <collapseWhitespace>false</collapseWhitespace>  <ignoreWhitespace>false</ignoreWhitespace>  <ignoreAttributes>false</ignoreAttributes>  <ignoreElementText>false</ignoreElementText>  <ignoreAttributeValues>false</ignoreAttributeValues>  <ignoreElementOrdering>false</ignoreElementOrdering>  <ignoreAttributeOrdering>true</ignoreAttributeOrdering></xmlDiffOptions>
WSPORT2=20011
LIVE_INVOCATION_SERVER1=localhost
LIVE_INVOCATION_PORT1=3600
ATM_PORT=8100
VISA_PORT=8082
CREDIT_PORT=8062
LIVE_INVOCATION_SERVER2=https\://myvisapaymentservice8555-8080-default.mock.blazemeter.com
LIVE_INVOCATION_PORT2=443
LIVE_INVOCATION_SERVER3=myvisapaymentservice8555-8080-default.mock.blazemeter.com
thinkTimeRange=120-600
sslProtocol=http
