{"swagger":"2.0","info":{"version":"v1","title":"Market Source General Agency API"},"host":"ps-api.humana.com","basePath":"/MarketSourceGeneralAgency/1.0.0","schemes":["https","http"],"paths":{"/Contract/GeneralAgencyMarketSource":{"post":{"tags":["MarketSourceGeneralAgency"],"summary":"Get General Agency Market Source","description":"This operation is used to get market source information for market source general agency.","operationId":"MarketSourceGeneralAgency_GetGeneralAgencyMarketSource","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"GetGeneralAgencyMarketSourceRequest","required":true,"schema":{"$ref":"#/definitions/GetGeneralAgencyMarketSourceRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetGeneralAgencyMarketSourceResponse"}}}}}},"definitions":{"GetGeneralAgencyMarketSourceRequest":{"type":"object","properties":{"SystemAssignNumber":{"format":"int32","type":"integer"},"NationalProducerNumber":{"format":"int32","type":"integer"},"TaxNumber":{"format":"int32","type":"integer"}}},"GetGeneralAgencyMarketSourceResponse":{"type":"object","properties":{"MarketSourceInfo":{"$ref":"#/definitions/MarketSourceInfo"},"ServiceError":{"$ref":"#/definitions/ServiceError"}}},"MarketSourceInfo":{"type":"object","properties":{"MarketSourceNumber":{"format":"int32","type":"integer"},"MarketSourceDescription":{"type":"string"}}},"ServiceError":{"type":"object","properties":{"ErrorCode":{"format":"int32","type":"integer"},"ErrorDescription":{"type":"string"}}}}}